PORT=5000
DATABASE_URL="postgresql://postgres:admin@localhost:5432/titomeet?schema=public"
JWT_SECRET=secret
JWT_REFRESH_SECRET=secret
AWS_ACCESS_KEY_ID=secret
AWS_SECRET_ACCESS_KEY=secret
AWS_REGION=eu-west-3
AWS_BUCKET_PUBLIC_URL=https://titomeet.s3.eu-west-3.amazonaws.com
AWS_BUCKET_NAME=titomeet
GEOCODE_API_KEY=secret

#FEDAPAY
FEDAPAY_API_KEY=secret
FEDAPAY_ENVIRONMENT=sandbox

#MAIL
NODEMAILER_SMTP_HOST=host
NODEMAILER_SMTP_PORT=
NODEMAILER_SENDER_EMAIL=
NODEMAILER_SENDER_PASSWORD= 

#GOOGLE AUTH
GOOGLE_CLIENT_ID=id
GOOGLE_CLIENT_SECRET=secret
GOOGLE_CALLBACK_URL=http://localhost:5000/auth/google/callback